<!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Кофейня 14</li>
      <li><a uiSref="drinks" uiSrefActive="active">Меню</a></li>
      <li><a uiSref="cart" uiSrefActive="active">Корзина <span *ngIf="get_cart_products_qty() > 0">({{get_cart_products_qty()}})</span></a></li>
      <li *ngIf="is_last_order_exist()"><a uiSref="order" uiSrefActive="active">Заказ</a></li>
      <li *ngIf="is_user_logged_in()" style="padding: .4375rem 0 .4375rem 1rem">Вы авторизованы</li>
      <li *ngIf="is_user_logged_in()"><a (click)="sign_out()" >Выйти</a></li>
      <li *ngIf="!is_user_logged_in()"><a uiSref="signin" (click)="sign_in()">Войти</a></li>
    </ul>
    </div>
    
  </div>
  <!-- End Top Bar -->
<ui-view></ui-view>
<footer class="callout secondary">
  <div class="grid-x grid-margin-y expanded">

    <div class="medium-6 cell">
      <ul class="menu">
    <li><a uiSref="drinks" uiSrefActive="active">Меню</a></li>
    <li><a uiSref="cart" uiSrefActive="active">Корзина <span *ngIf="get_cart_products_qty() > 0">({{get_cart_products_qty()}})</span></a></li>
      </ul>
    </div>

    <div class="medium-6 cell">
      <ul class="menu align-right">
        <li class="menu-text">Copyright © 2020 Кофейня 14</li>
      </ul>
    </div>
  </div>

</footer>