<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top scrolling-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="assets/img/office-14.svg" width="36">
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#basicExampleNav1" aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="navbar-collapse collapse" id="basicExampleNav1" style="">

      <!-- Right -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a uiSref="drinks" uiSrefActive="active" class="nav-link waves-effect">
            Напитки
          </a>
        </li>
        <li class="nav-item">
          <a uiSref="cart" class="nav-link navbar-link-2 waves-effect">
            <span class="badge badge-pill red" *ngIf="get_cart_products_qty() > 0">{{get_cart_products_qty()}}</span>
            <i class="fas fa-shopping-cart pl-0"></i>
          </a>
        </li>
        <li class="nav-item pl-2 mb-2 mb-md-0" *ngIf="!is_user_logged_in()">
          <a uiSref="signin" (click)="sign_in()" type="button" class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">Войти</a>
        </li>
        <li class="nav-item dropdown" *ngIf="user">
          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="{{user.photoURL}}" class="rounded-circle z-depth-0 top-menu-avatar__img" alt="avatar image">
            <span class="counter counter-floating counter-sm badge-warning" *ngIf="isset_cooking_order()">1</span>
            <span class="counter counter-floating counter-sm badge-success" *ngIf="is_order_became_ready()">1</span>
            {{user.displayName}}
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdownMenuLink-5">
            <a class="dropdown-item waves-effect waves-light" uiSref="order" *ngIf="is_last_order_exist()">Мой заказ <span class="badge badge-warning" *ngIf="is_order_status_cooking()">Готовится</span><span class="badge badge-success" *ngIf="is_order_became_ready()">Готов</span></a>
            <a class="dropdown-item waves-effect waves-light" href="#" (click)="sign_out()">Выйти</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- Links -->
  </div>
  
  <ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>
</nav>
<ui-view></ui-view>
<footer class="page-footer font-small elegant-color">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://office-14.com" target="_blank"> office-14.com </a>
  </div>
  <!-- Copyright -->

</footer>
<!--/.Footer-->