<br>
<article class="grid-container">
  <div class="grid-x cell">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a ui-sref="drinks">Меню</a></li>
        <li>
          Авторизация
        </li>
      </ul>
    </nav>
  </div>
  <div class="grid-x" class="text-center">
    <div>
    	<h1>Авторизация</h1>
    	<p *ngIf="order_creating_started">Для офориления заказа авторизуйтесь на нашем сервисе</p>
    	<button class="button" type="button" (click)="google_auth()">
		    Войти с помощью Google
		</button>
    </div>
  </div>
</article>