<main class="mt-5 pt-4">
  <div class="container">
    <section class="mt-5 mb-4">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-12">

          <!-- Card -->
          <div class="card wish-list mb-4" *ngIf="is_last_order_exist()">
            <div class="card-body">
              <h4 class="mb-3">Заказ {{get_order().order_number}}</h4>
              <p class="small text-muted text-uppercase mb-3 order__created">{{get_formated_date()}}</p>
              <div *ngFor="let product of get_order().drinks">
                <div class="row mb-4">
                  <div class="col-md-5 col-lg-3 col-xl-3">
                    <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                      <img class="img-fluid w-100 product-item__image" src="{{product.drink.photo_url}}" alt="Sample">
                      <a uiSref="drink" [uiParams]="{ drink_id: product.drink.id }">
                        <div class="mask waves-effect waves-light">
                          <img class="img-fluid w-100" src="{{product.drink.photo_url}}">
                          <div class="mask rgba-black-slight waves-effect waves-light"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-9 col-xl-9">
                    <div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <h5>{{product.drink.name}}</h5>
                          <p class="mb-2" *ngIf="product['add-ins'].length > 0"><strong>Добавки:</strong> <span *ngFor="let addin of product['add-ins']" class="product-item-addins__name small">{{addin.name}}</span></p>
                          <p class="mb-2 product-item__size-volume"><strong>Размер: </strong> <span class="small">{{product.drink_size.name}} - {{product.drink_size.volume}}</span></p>
                          <p class="mb-3"><strong>Количество: </strong> <span class="small">{{product.count}}</span></p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0 product-item__price"><strong>Стоимость: {{product.price}}₽</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mb-4">
              </div>
              <h5>Сумма заказа: {{get_order().total_price}} ₽</h5>
              <p class="order__comment" *ngIf="get_order().comment && get_order().comment.length > 0"><strong>Комментарий к заказу</strong> {{get_order().comment}}</p>
              <p><strong>Статус </strong> <span *ngIf="is_order_status_cooking()" class="badge badge-warning order__status">Заказ готовится</span><span *ngIf="!is_order_status_cooking()" class="badge badge-success order__status">Заказ готов</span></p>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

    </section>
  </div>
</main>