<br>
<article class="grid-container">
  <div class="grid-x cell">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a ui-sref="drinks">Меню</a></li>
        <li>
          Заказ
        </li>
      </ul>
    </nav>
  </div>
  <div class="grid-x">
    <div>
      <h1>Заказ</h1>
      <div *ngIf="!is_order_exist()">Нет заказов</div>
      <div *ngIf="is_order_exist()">
        <h3>Заказ № {{get_order().order_number}}</h3>
        <div class="media-object stack-for-small" *ngFor="let product of get_order().products">
          <div class="media-object-section">
            <img class="thumbnail" src="{{product.drink_image}}" width="200">
          </div>
          <div class="media-object-section">
            <h5>{{product.drink_name}}</h5>
            <p>Размер: {{product.size_volume}}</p>
            <p>Добавки: <span *ngFor="let addin of product.addins">{{addin.name}}</span></p>
            <p>Количество: {{product.qty}}</p>
            <p>Цена: {{product.price * product.qty}} ₽</p>
          </div>
        </div>
        <h4>Сумма заказа: {{get_order().total_price}} ₽</h4>
        <p class="order__status">Статус: {{get_order().status_name}}</p>
        <button *ngIf="is_order_status_ready()" class="button order__clear-button" (click)="clear_ready_order()">Очистить</button>
      </div>
    </div>
  </div>
</article>