
<div class="text-center">
  <h2>Напитки</h2>
  <hr>
</div>

<article class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4">
    <div class="cell" *ngFor="let drink of drinks ">
      <a uiSref="drink" [uiParams]="{ drink_id: drink.id }"><img class="thumbnail" src="{{drink.photo_url}}"></a>
      <a uiSref="drink" [uiParams]="{ drink_id: drink.id }"><h5>{{drink.name}}</h5></a>
      <p>{{drink.smallest_size_price}} ₽</p>
      <a  uiSref="drink" [uiParams]="{ drink_id: drink.id }" class="button expanded">Подробнее</a>
    </div>
  </div>
</article>