<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container">
    <section class="mb-5 drink-detail__section">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

          <div class="view zoom z-depth-2 rounded">
            <img class="img-fluid w-100" src="{{drink.photo_url}}" alt="Drink photo">
            <a href="#!">
              <div class="mask waves-effect waves-light"></div>
            </a>
          </div>

        </div>
        <div class="col-md-6">
          <h5>{{drink.name}}</h5>
          <p class="pt-1">{{drink.description}}</p>
          <div class="table-responsive">
            <div class="pb-0">Добавки</div>
            <table class="table table-sm table-borderless mb-0">
              <tbody>
                <tr *ngFor="let addin of getDraftCartProduct().addins">
                  <th class="pl-0 w-25" scope="row">
                    <div class="custom-control custom-checkbox drink-detail-addin-name__wrapper">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]="addin.selected" [attr.id]="'addin-' + addin.id" [value]="addin.id" [checked]="addin.selected" tabindex="0">
                      <label [attr.for]="'addin-' + addin.id" class="custom-control-label addins-item__name">{{addin.name}}</label>
                    </div>
                  </th>
                  <td>
                    <label [attr.for]="'addin-' + addin.id" class="middle drink-detail-addin-label">
                      <div class="view rounded mb-3 mb-md-0 drink-detail-addin-img__wrapper">
                        <img class="img-fluid w-100" src="{{addin.photo_url}}"/>
                      </div>
                      <div class="drink-detail-addin-price">{{addin.price}} ₽</div>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive mb-2">
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td class="pl-0 pb-0 w-25">Количество</td>
                  <td class="pb-0">Размер</td>
                </tr>
                <tr>
                  <td class="pl-0">
                    <div class="def-number-input number-input safari_only mb-0">
                      <button (click)="set_draft_cart_product_qty(getDraftCartProduct().qty - 1)" class="minus"></button>
                      <input class="quantity" min="1" name="quantity" [(ngModel)]="getDraftCartProduct().qty" type="number" (change)="limit_draft_cart_product_qty()">
                      <button (click)="set_draft_cart_product_qty(getDraftCartProduct().qty + 1)" class="plus"></button>
                    </div>
                  </td>
                  <td>
                    <div class="mb-0">
                      <select class="browser-default custom-select" [(ngModel)]="getDraftCartProduct().size">
                        <option [value]="" disabled>Выберите размер</option>
                        <option *ngFor="let size of drink.sizes" [ngValue]="size" class="size-item__option">
                {{ size.name + ' - ' + size.volume }}
              </option>
                      </select>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary btn-md mr-1 mb-2 waves-effect waves-light" (click)="addToCart($event)"><i class="fas fa-shopping-cart pr-2"></i>В корзину</button>
            </div>
            <div class="col-sm-3">
              <div class="d-flex justify-content-between align-items-center  border-0 px-0 mb-3">
                <div>
                  <strong>Итого:</strong>
                </div>
                <span><strong>{{get_selected_price()*getDraftCartProduct().qty}} ₽</strong></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    

  </div>
</main>
<!--Main layout-->