<br>
<article class="grid-container">
  <div class="grid-x cell">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a ui-sref="drinks">Меню</a></li>
        <li>
          <span class="show-for-sr">Страница: </span> {{drink.name}}
        </li>
      </ul>
    </nav>
  </div>
  <div class="grid-x grid-margin-x">
    <div class="medium-6 cell">
      <img class="thumbnail" ng-src="{{drink.photo_url}}">
    </div>
    <div class="medium-6 large-5 cell large-offset-1">
      <h3>{{drink.name}}</h3>
      <p>{{drink.description}}</p>
      <div ng-if="drink.sizes">
        <h5>Размер</h5>
        <label>
        <select ng-options="size.id as (size.name + ' - ' + size.volume) for size in drink.sizes" ng-model="draft_cart_product.size.id">
          <option value="" disabled="">Выберите размер</option>
        </select>
        </label>

        <div class="grid-x">
          <h5>Добавки</h5>
        </div>
        <div class="grid-x" ng-repeat="addin in draft_cart_product.addins">
          <div class="small-1 cell">
            <input type="checkbox" ng-attr-id="{{ 'addin-' + addin.id }}" ng-value="addin.id"  ng-checked="addin.selected" ng-model="addin.selected" style="margin-top: 1.5rem;"/>
          </div>
          <div class="small-5 cell">
            <label ng-attr-for="{{ 'addin-' + addin.id }}" class="middle">
              <img ng-src="{{addin.photo_url}}" width="50"/>
              <span style="margin-left: 10px;">{{addin.name}}</span>
            </label>
            
          </div>
          <div class="small-4 cell">
            <label ng-attr-for="{{ 'addin-' + addin.id }}" style="margin-top: 1.3rem;">{{addin.price}} ₽</label>
          </div>
        </div>
        <div class="grid-x">
          <div class="small-4 cell">
            <h5>Количество</h5>
          </div>
          <div class="small-4 cell">
            <input type="number" placeholder="Укажите кол-во напитков" ng-model="draft_cart_product.qty" min="1" ng-change="change_draft_cart_product_qty()">
          </div>
        </div>
        <div class="grid-x">
          <h3>Цена: {{get_selected_price()}} ₽</h3>
        </div>

        <a href="#" class="button large expanded" ng-click="add_to_cart()">В корзину</a>
      </div>

  </div>
</article>